.aCard {
    position: relative;
    border-radius: 15px;
    background-color: rgb(33, 33, 33);
    height: auto;
    width: 100%;

    /* padding: 2%; */
    /* margin: 5%; */
    /* margin-bottom: 5%; */
    /* margin-right: 5%; */
    overflow: hidden;

    padding-top: 5%;
    padding-bottom: 5%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 0px 20px 1px rgb(246, 246, 246, .2) inset;
    /* box-shadow: 0px 0px 20px 1px rgb(246, 246, 246, .2); */


}

.boxes {
    flex-wrap: wrap;
}

.button {
    color: white;

    border-radius: 90px;
    border: 0px solid transparent;
    border-color: white;
    color: white;

    padding: 0.6em 1.2em;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.drawerCenter {

    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    height: 20%;
}

.drawerItem {
    font-family: 'courier';
    margin: 5%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 17px;
    color: red;
}

.navBar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: left;
    z-index: 2;

    /* background-color: rgb(15, 204, 75); */
    background-color: rgb(32, 32, 32);

    width: 100.5%;

    margin-top: -.5%;
    margin-left: -.5%;
    padding-top: 15px;
    padding-bottom: 15px;

    border-radius: 0 0 10px 10px;
    border-color: white;
    border-width: 20px;

    box-shadow: 0px -1px 10px .5px rgba(255, 255, 255, 0.2);

}