 /* #root {
   padding: 10%;
   margin: 0 auto;
  padding: 2rem;
  text-align: center; 
 } */

 .logo {
   height: 20rem;
   /* padding: 1.5em; */
   will-change: filter;
   transition: filter 300ms;
 }

 .logo:hover {
   filter: drop-shadow(0 0 2em #ffffffaa);
   cursor: pointer;
   /* animation: logo-spin infinite 2s linear */
 }

 .logo.react:hover {
   filter: drop-shadow(0 0 2em #61dafbaa);
 }

 .logo:active {
   /* animation: logo-spin infinite .25s forwards ; */
   animation-name: logo-spin;
   animation-duration: .25s;
   animation-iteration-count: infinite;
 }

 /* animation: name duration timing-function delay iteration-count direction fill-mode; */

 @keyframes logo-spin {
   from {
     transform: rotate(0deg);
   }

   to {
     transform: rotate(360deg);
   }
 }

 @media (prefers-reduced-motion: no-preference) {
   a:nth-of-type(2) .logo {
     animation: logo-spin infinite 20s linear;
   }
 }

 .card {
   padding: 2em;
   background-color: gray;
   border-radius: 15px;
 }

 .read-the-docs {
   color: #888;
 }

 .landing {
   color: white;

   position: absolute;
   margin-top: -9.5px;
   margin-left: -9.5px;
   /* padding: 0 rem; */

   /* place-items: center; */
   text-align: center;

   background-image: url("./assets/polygonPattern.png");
   background-position: absolute;
   background-size: auto;
   /* margin: 0; */
   width: 100%;
   height: 100%;
 }

 .vCenter {
   /* margin: 0; */
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }